<div class="row">
    <div class="offset-3 col-6">
      <form [formGroup]="addProductForm" (ngSubmit)="saveProduct()">
        <div class="form-group">
          <label for="name">Product Name</label>
          <input type="text" class="form-control" id="name" placeholder="Type the product name here" formControlName="productName"
           [ngClass]="{'is-invalid': submitted && addProductForm.controls.productName.errors, 'is-valid': submitted && !addProductForm.controls.productName.errors}">
        <div class="invalid-feedback d-block">
          <div *ngIf="submitted && addProductForm.controls.productName.hasError('required')">Product name is required.</div>
          <!-- <div *ngIf="submitted && addProductForm.controls.productName.hasError('forbiddenProductName')">Product name must be different to coka.</div> -->
        </div>
        </div>
        <div class="form-group">
          <label for="description">Product Description</label>
          <textarea class="form-control" row="10" id="description" placeholder="Type the product description here" formControlName="productDescription" 
          [ngClass]="{'is-invalid': submitted && addProductForm.controls.productDescription.errors, 'is-valid': submitted && !addProductForm.controls.productDescription.errors}"></textarea>
        <div class="invalid-feedback d-block">
          <div *ngIf="submitted && addProductForm.controls.productDescription.hasError('required')">Product description is required.</div>
          <div *ngIf="submitted && addProductForm.controls.productDescription.hasError('minlength')">product description is invalid format > 8.</div>
          <!-- <div *ngIf="submitted && addProductForm.hasError('productName')">product description should be equal to name product</div> -->
          </div>
        </div>
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input type="text" class="form-control" id="quantity" placeholder="Type the product quantity here" formControlName="quantity"
           [ngClass]="{'is-invalid': submitted && addProductForm.controls.quantity.errors, 'is-valid': submitted && !addProductForm.controls.quantity.errors}">
        </div>
        <button type="submit" class="btn btn-success btn-block">Add</button>
      </form>
    </div>
  </div>
