
<div class="row">
    <div class="offset-3 col-6">
      <form [formGroup]="addListForm" (ngSubmit)="addUser()">
        <div class="form-group">
          <label for="name">User Name</label>
          <input type="text" class="form-control" id="name" placeholder="Type your name here" formControlName="userName"
           [ngClass]="{'is-invalid': submitted && addListForm.controls.userName.errors, 'is-valid': submitted && !addListForm.controls.userName.errors}">
        <div class="invalid-feedback d-block">
          <div *ngIf="submitted && addListForm.controls.userName.hasError('required')">User name is required.</div>
        </div>
        </div>
        <div class="form-group">
          <label for="description">User Description</label>
          <textarea class="form-control" row="10" id="description" placeholder="Type the user description here" formControlName="userDescription" 
          [ngClass]="{'is-invalid': submitted && addListForm.controls.userDescription.errors, 'is-valid': submitted && !addListForm.controls.userDescription.errors}"></textarea>
        <div class="invalid-feedback d-block">
          <div *ngIf="submitted && addListForm.controls.userDescription.hasError('required')">User description is required.</div>
          <div *ngIf="submitted && addListForm.controls.userDescription.hasError('minlength')">user description is invalid format > 8.</div>
          </div>
        </div>
        <button *ngIf="!showUpdateButton" type="submit" class="btn btn-success btn-block">Save User</button>
        <button *ngIf="showUpdateButton" type="button" class="btn btn-success btn-block" (click)="saveUpdate()">Save Update</button>
      </form>
    </div>
  </div>
  <app-list [usersList]="users" (updateEvent)="showUserData($event)" (deleteEvent)="deleteUser($event)"></app-list>
