<div class="row mt-5">
    <div class="offset-1 col-9">
        <button class="btn btn-primary float-right my-2"  routerLink="/add-product">Add product</button>
    </div>
    <div class="offset-1 col-9">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Product Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products; let i=index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ product.productName }}</td>
                <td>{{ product.productDescription }}</td>
                <td>
                    <button class="btn btn-info" [routerLink]="[ '/update-product', i ]">Update</button>
                    <button class="btn btn-danger ml-1" (click)="deleteProduct(i)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
